---
import { GITHUB_URL, EMAIL } from '../consts';
---

<footer class="site-footer">
  <div class="container site-footer__inner annotation">
    <a class="link-quiet" href={GITHUB_URL} rel="me">GitHub</a>
    <a class="link-quiet" href={`mailto:${EMAIL}`}>Email</a>
    <a class="link-quiet" href="/rss.xml">RSS</a>
  </div>
</footer>
